@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

/* Variables */
:root {
  --default-color: #ffffff;
  --second-color: #e8e8e8;
  /* old text-color: #E1CCF0; */
  --text-color: #747aa9;
  --default-hover-color: rgba(240, 201, 196, 1);
  --navbar-background-color: var(--default-color);
  --navbar-item-hover-background-color: var(--default-hover-color);
  --navbar-item-hover-color: black;
  --link: var(--text-color);
  --info: var(--default-color);
  --success: var(--second-color);
  --box-width: 800px;
  --modal-background-background-color: rgba(0, 0, 0, 0.2);
  --card-content-padding: 3.7rem;
  --card-background-color: transparent;
  --card-border: transparent;
  --family-primary: 'Lato', sans-serif;
}

/* General Class */
.is-pink {
  color: var(--text-color) !important;
}

.error {
  color: red;
}

.full-height {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo-black {
  fill: #212121;
}

.check-hash {
  width: 45vh;
  padding: 21px;
  margin: 0 0 0 -21px;
  background-color: #636363;
  color: white;
}

.is-size-8 {
  font-size: 0.42rem !important;
}

.lato-title-black {
  font-family: var(--family-primary) !important;
  font-style: italic !important;
}

.lato-title-normal-black {
  font-family: var(--family-primary) !important;
  font-style: normal !important;
}

.lato-title-purple {
  font-family: var(--family-primary) !important;
  font-style: italic !important;
  color: var(--text-color) !important;
}

.lato-text-black {
  font-family: var(--family-primary) !important;
  font-style: normal !important;
  font-weight: 300 !important;
  color: black;
}
